<script>
    export let datapoints=[];
	import City from './_design_1_city.svelte'

	// Size and margins
	const width = 600;
	const height = 250;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;

	// Transform the data
	let transformed_data = {}
	$:{
		datapoints.forEach((d) =>{
			if ( !(d.city in transformed_data)) {
				transformed_data[d.city] = {}
			}
			if ( !(d.buildingtype in transformed_data[d.city])) {
				transformed_data[d.city][d.buildingtype] = []
			}
			transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
		})
	}

	let bldg_height = 14;

	import {scaleLinear} from 'd3-scale';
	import {extent} from 'd3-array';

	$: xScale = scaleLinear()
				.domain([0,743])
				.range([0,innerWidth/3-20])

	$: yScale = scaleLinear()
				.domain(extent(datapoints.map((d) => d.total_heating_energy)))
				.range([bldg_height,0])
				
</script>
  
  <svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		{#each Object.keys(transformed_data) as city_name, city_idx}
			<g transform="translate({city_idx*(innerWidth/3)},5)">
                <text x=15 y=-5>{city_name}</text>
				<City data={transformed_data[city_name]} {bldg_height} {xScale} {yScale}/>
			</g>									
		{/each}
	</g>
  </svg>
  
  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}

    text{
        text-anchor: middle;
        font-size: 8px;
    }
  </style>
  