<script>
    export let datapoints=[];

	// Size and margins
	const width = 600;
	const height = 250;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;

	import {scaleLinear,scaleRadial} from 'd3-scale';
    import {areaRadial} from 'd3-shape';
	import {extent} from 'd3-array';

	let radius = 80;

	// Unique values of city
	$: city = [...new Set(datapoints.map((d) => d.city))];

	// Min and max value of heating and cooling
	$: heatext = extent(datapoints.map((d) => d.heating));
	$: coolext = extent(datapoints.map((d) => d.cooling));

	// Scaling of values
	$: xScale = scaleLinear()
  				.domain(extent(datapoints.map((d) => d.day_of_year))) 
  				.range([0, 2 * Math.PI])
	
	$: yScale_h = scaleRadial()
				.domain(heatext) 
  				.range([0, radius])	

	$: yScale_c = scaleRadial()
				.domain(coolext) 
  				.range([0, radius])

	$: area_h = areaRadial()
				.angle(d => xScale(d.day_of_year))
				.innerRadius(0)
				.outerRadius(d => yScale_h(d.heating))

	$: area_c = areaRadial()
				.angle(d => xScale(d.day_of_year))
				.innerRadius(0)
				.outerRadius(d => yScale_c(d.cooling))
</script>
 
<svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		<!-- Legend -->
		<text class="legend" x={innerWidth/2} y={innerHeight}>Heating (red) and cooling (blue) within a year</text>

		{#each city as city_name, city_idx}
			<g transform="translate({90+(width/3)*city_idx},5)">
				<!-- City names -->
				<text class="header">{city_name}</text>
				<!-- Big circle -->
				<circle class="big" cx={city_idx} cy={innerHeight/2} r={radius}/>
				<!-- Horizontal line -->
				<line x1={city_idx-radius} x2={city_idx+radius} y1={innerHeight/2} y2={innerHeight/2}/>
				<!-- Vertical line -->
				<line x1={city_idx} x2={city_idx} y1={innerHeight/2-radius} y2={innerHeight/2+radius}/>
				<!-- Text markings -->
				<text class="marks" x={city_idx} y={innerHeight/2-radius-6} >0</text>
				<text class="marks" x={city_idx+radius+6} y={innerHeight/2} >3</text> 
				<text class="marks" x={city_idx} y={innerHeight/2+radius+9} >6</text>
				<text class="marks" x={city_idx-radius-6} y={innerHeight/2} >9</text>	  
				
				<!-- Radial area -->
				<g transform="translate(0,{innerHeight/2})">									
					<path class="heating" d={area_h(datapoints.filter(d => d.city==city_name))}/>	
					<path class="cooling" d={area_c(datapoints.filter(d => d.city==city_name))}/>		
				</g>
			</g>	
		{/each}
	</g>
  </svg>
  
  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}

	line {
		stroke: gray;
		stroke-width: 1;
	}

	/* Text styles */
	.header {
		text-anchor: middle;
		text-transform: uppercase;
		font-size: 12px
	}

	.marks {
		text-anchor: middle;
		text-align: center;
		font-size: 8px;
	}

	.legend {
		text-align: center;
		font-style: italic;
		text-anchor: middle;
		font-size: 8px;
	}

	/* Path styles */
	.heating {
		fill: red;
		fill-opacity: 0.5;
        stroke: red;
		stroke-width: 1px;
	}

	.cooling {
		fill: blue;
		fill-opacity: 0.5;
        stroke: blue;
		stroke-width: 1px;
	}

	/* Circle styles */
	.big {
		fill: none;
		stroke: black;
	}

  </style>