<script>
    export let data = []
    export let xScale;
    export let yScale;

	let pathGenerator = (d) => {
		let path = "M 0," + yScale(0);
		d.forEach((value, idx) => {
			path += " " + xScale(idx) + ',' + yScale(value)
		})
		console.log(path)
		return path;
	}
</script>

<style>
	path {
		stroke: black;
		stroke-width: 0.5px;
		fill: black;
		fill-opacity: 0.8;
	}
</style>

<path d={pathGenerator(data)}/>	