<script>
    export let datapoints=[];

	// Size and margins
	const width = 500;
	const height = 600;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;

	import {scaleLinear} from 'd3-scale';
	import {min,max} from 'd3-array';

	let leaf_height = (innerHeight/3-30);
	let leaf_length = 200;

	// Unique week values
	$: week = [...new Set(datapoints.map((d) => d.week))];
    $: city = [...new Set(datapoints.map((d) => d.city))];

	// Min and max values of electricity and gas
	$: max_e = max(datapoints.map((d) => d.total_electrity));
	$: max_g = max(datapoints.map((d) => d.total_gas));

	$: min_e = min(datapoints.map((d) => d.total_electrity));
	$: min_g = min(datapoints.map((d) => d.total_gas));

	// Scaling of values
	// xScale for right side: from 0 to leaf_length
	$: xScale_r = scaleLinear()
  				.domain([0,167]) 
  				.range([0,leaf_length])

	// xScale for left side side: from 0 to -leaf_length
	$: xScale_l = scaleLinear()
  				.domain([0,167]) 
  				.range([0,-leaf_length])

	// yScale for electricity
	$: yScale_e = scaleLinear()
  				.domain([min_e,max_e]) 
  				.range([leaf_height/2,0])

	// yScale for gas
	$: yScale_g = scaleLinear()
  				.domain([min_g,max_g]) 
  				.range([leaf_height/2,leaf_height])

	let pathGenerator_e_l = (d) => {
			let path = "M 0," + yScale_e(min_e);
			d.forEach((value, idx) => {
				path += " " + xScale_l(idx) + ',' + yScale_e(value)
			})
			path += " -" +leaf_length+ "," + yScale_e(min_e) 
			return path;
	}

	let pathGenerator_e_r = (d) => {
			let path = "M 0," + yScale_e(min_e);
			d.forEach((value, idx) => {
				path += " " + xScale_r(idx) + ',' + yScale_e(value)
			})
			path += " " +leaf_length+ "," + yScale_e(min_e) 
			return path;
	}

	let pathGenerator_g_l = (d) => {
			let path = "M 0," + yScale_g(min_g);
			d.forEach((value, idx) => {
				path += " " + xScale_l(idx) + ',' + yScale_g(value)
			})
			path += " -" +leaf_length+ "," + yScale_g(min_g) 
			return path;
	}

	let pathGenerator_g_r = (d) => {
			let path = "M 0," + yScale_g(min_g);
			d.forEach((value, idx) => {
				path += " " + xScale_r(idx) + ',' + yScale_g(value)
			})
			path += " " +leaf_length+ "," + yScale_g(min_g) 
			return path;
	}
  </script>
  
  <svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		<!-- Legend -->
		<text class="header1" x={innerWidth/2} y={innerHeight-35}>{city}</text>
		<text class="header2" x={innerWidth/2} y={innerHeight-15}>(December 2014)</text>
		<text class="legend" x={innerWidth/2} y={innerHeight}>Weekly electricity (blue) and gas (orange) use</text>

		<!-- Tree branch -->
		<line x1={innerWidth/2} x2={innerWidth/2} y1=20 y2={innerHeight-70}/>
		
		{#each week as week_name, week_idx}
			<!-- Even: Weeks 2 and 4 (left side) -->
			{#if (week_idx+1) % 2 === 0 }	
			<g transform="
							translate({innerWidth/2+10}, {((5-week_idx)/2)*leaf_height-50})
							rotate(10)
						">
				<text class="legend" x=-200>Week {week_idx+1}</text>
				<path class="electricity" d={pathGenerator_e_l(datapoints.filter(d => d.week==week_name).map((d) => d.total_electrity))}/>
				<path class="gas" d={pathGenerator_g_l(datapoints.filter(d => d.week==week_name).map((d) => d.total_gas))}/>	
			</g>
			<!-- Odd: Weeks 1, 3, and 5 (right side) -->
			{:else}
			<g transform="
							translate({innerWidth/2-10}, {((3-week_idx)+(week_idx/2))*leaf_height-120})
							rotate(-10)
						">
				<text class="legend" x=200>Week {week_idx+1}</text>
				<path class="electricity" d={pathGenerator_e_r(datapoints.filter(d => d.week==week_name).map((d) => d.total_electrity))}/>
				<path class="gas" d={pathGenerator_g_r(datapoints.filter(d => d.week==week_name).map((d) => d.total_gas))}/>
			</g>		
			{/if}
		{/each}
	</g>
  </svg>
  
  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}

    /* Path styles */
	.electricity {
		fill: blue;
		fill-opacity: 0.7;
		stroke: blue;
		stroke-width: 1px;	
	}

	.gas {
		fill: orange;
		fill-opacity: 0.7;
		stroke: orange;
		stroke-width: 1px;
	}

	line {
		stroke: black;
		stroke-width: 3;
	}

    /* Text styles */
	.header1 {
		text-anchor: middle;
		text-transform: uppercase;
		font-size: 20px
	}

	.header2 {
		text-anchor: middle;
		font-size: 14px
	}

	.legend {
		text-align: center;
		font-style: italic;
		text-anchor: middle;
		font-size: 10px
	}
  </style>
  