<script>
	import Building from './_design_1_building.svelte'

    export let data = {}
    export let xScale;
    export let yScale;
    export let bldg_height;
</script>

{#each Object.keys(data) as bldg_name, bldg_idx}		
    <g transform="translate(0,{bldg_idx*bldg_height+10})">		
        <text>{bldg_name}</text>
        <g transform="translate(5,-5)">		
            <Building data={data[bldg_name]} {xScale} {yScale} {bldg_height}/>
        </g>
    </g>			
{/each}	

<style>
	text {
		font-size: 5px;
	}
</style>
