<script>
	import {json} from 'd3-fetch';
  import {onMount} from 'svelte';
	import Script from "./_design_1.svelte";
  
	// Load the data
	let datapoints = null;
	onMount(async () => {
		datapoints = await json("data/hourly_heating_december.json");
	});
</script>
  
{#if datapoints}
	  <Script datapoints={datapoints}/>
{/if}