<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:active="{current === 'messi'}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:active="{current === 'ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:active="{current === 'neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
	button.active {
		background-color: #2986cc;
	}
</style>