<script>
    function circumference(r){
    return Math.round((2*r*Math.PI)*100)/100;
    }
   
    const my_variable = 4;
    const circ = circumference(my_variable);
  </script>
  
  <p>
      The circumference of a sphere with radius {my_variable}m is {circ}m.
  </p>
