<script>
	// Properties
	export let data = [];
	const continents = ["europe", "asia", "americas", "africa"];

	export let slider_value = data[0]['year'];

	// Start and stop toggle button
	let start = false;
	let myInterval;

	function toggle(){
		start = !start;
		if (start==true){
		   myInterval = setInterval(() => {
			slider_value += 1; 
		    if (slider_value > data[214]['year']) {
			  slider_value = data[0]['year']
		    }
		  },100);
	    }
		else {
			clearInterval(myInterval);		
		}
	}

	// Reset button
	function reset(){
        clearInterval(myInterval);	
		slider_value = data[0]['year'];
		start = false;
	}
  </script>
  
  <div class="row">
  
	<button class="btn btn-primary" type="button" on:click={toggle}>
	  {start ? 'Stop' : 'Start'}
	</button>

	<button class="btn btn-primary" type="button" on:click={reset}>
	  Reset 
	</button>

	<label for="year">Year: {slider_value}</label>
	<input type="range" class="form-range" min={data[0]['year']} max={data[214]['year']} id="year" bind:value={slider_value} />

	<select class="form-select">
		<option selected>all</option>
		{#each continents as cont, idx}
		  <option value="idx">{cont}</option>
		{/each}
	</select>
  	
  </div>
  