<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
</script>

<div>
	<button class="btn btn-primary" on:click={handleClick}>
		Clicked {count} {count === 1 ? 'time' : 'times'}
	</button>

	<button class="btn btn-danger" on:click={() => count = 0}>
		Reset 
	</button>
</div>
