<script>
	// Dimensions
	const width = 800;
	const height = 100;
	const margin = { top: 10, right: 20, bottom: 20, left: 20 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
	// Array
	const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
	let index = points.length;

	// Color
	$: color = index > -1 ? 'darkred' : 'darkgreen';

	// Function to reduce index every second
	function countdown(){
		setInterval(() => {index -= 1}, 1000);
		if (index==0){
			clearInterval(myInterval);
		}
	}
</script>
  
  <svg viewBox="0 0 {width} {height}">
	<g transform="translate({margin.left},{margin.top})">
		{#each points as val, idx}
	    	<circle 
				cx={val}
				cy="50%"
				r=10
				fill={color}
				opacity={idx < index ? 0.3 : 1}
			/>
		{/each}	
		<g use:countdown> </g>
	</g>
  </svg>
  