<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	const boxWidth = 40;
	const boxHeight = 40;
	const box_x = (innerWidth/2)-(boxWidth/2);
	const box_y = (innerHeight/2)-(boxHeight/2);
	const circle_r = 20;
	const circle_cx = (innerWidth/2)+(boxWidth/2);
	const circle_cy = (innerHeight/2)+(boxHeight/2);
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={box_x} y={box_y} width={boxWidth} height={boxHeight} fill="yellow"/>
		<circle cx={circle_cx} cy={circle_cy} r={circle_r} fill="skyblue"/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
