<script>
	// Dimensions
	const width = 800;
	const height = 100;
	const margin = { top: 5, right: 5, bottom: 25, left: 5 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
    // Import functions
	import {scaleLog} from 'd3-scale';
	import {select} from 'd3-selection';
	import {axisBottom} from 'd3-axis';
  
	// Array
	const values = [2, 4, 6, 7, 9];	

    // Define log scale
	const xscale = scaleLog()
					.domain([1,10])
					.range([0,790]);

	//define a function for the x-axis
	function drawaxis(myhandle){
		const xaxis=axisBottom(xscale);
		const svg=select(myhandle).call(xaxis);
	}
</script>
  
  <svg viewBox="0 0 {width} {height}">
	<g transform="translate({margin.left},{margin.top})">
		{#each values as val}
	    	<circle 
				cx={xscale(val)}
				cy="50%"
				r=10
				fill="teal"
			/>
		{/each}
	</g>
	<g use:drawaxis transform="translate({margin.left},{innerHeight+5})"> </g>
	<text x="50%" y={innerHeight+28} font-size="60%">x label</text>
  </svg>