<script>
	// Dimensions
	const width = 800;
	const height = 100;
	const margin = { top: 20, right: 5, bottom: 5, left: 5 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
	// Array
	const values = [
	  { x: 2, y: 1, category: "cat1" },
	  { x: 4, y: 2, category: "cat3" },
	  { x: 6, y: 1, category: "cat2" },
	  { x: 7, y: 3, category: "cat3" },
	  { x: 9, y: 1, category: "cat2" }
	];

	// Import functions
	import {scaleLinear, scaleOrdinal} from 'd3-scale';
	import {extent} from 'd3-array';
	import {schemeDark2} from 'd3-scale-chromatic';

	// Define scales
	const xScale = scaleLinear()
    				.domain([0,10])
    				.range([0, innerWidth]);

	const yScale = scaleLinear()
    				.domain([0,4])
    				.range([innerHeight, 0]);

	const colorScale = scaleOrdinal(schemeDark2)
					.domain(extent(values, (d) => d.category));
  </script>
  
  <svg viewBox="0 0 {width} {height}">
	<g transform="translate({margin.left},{margin.top})">
		{#each values as data}
        	<circle 
          		cx={xScale(data.x)}
          		cy={yScale(data.y)}
          		r=5
		  		fill={colorScale(data.category)}
        	/>
			<text class="valueLabel" x={xScale(data.x)} y={yScale(data.y)} dy="-10px">{data.y}</text>
			<line stroke="currentColor" x1={xScale(data.x)} y1={innerHeight} x2={xScale(data.x)} y2={yScale(data.y)+5} />	
			<line stroke="currentColor" x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight} />	
        {/each}
	</g>
  </svg>

  <style>
	text {
	  text-anchor: middle;
	  font-size: small;
	}
  </style>
  