<script>
	// Dimensions
	const width = 600;
	const height = 300;
	const margin = { top: 10, right: 10, bottom: 30, left: 60 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  
	// Array
	const data = [
	  { service: "Netflix", viewers: 2.9 },
	  { service: "Amazon Prime Video", viewers: 1.3 },
	  { service: "Disney+", viewers: 2.1 },
	  { service: "Hulu", viewers: 0.9 },
	  { service: "Apple TV", viewers: 1.1 },
	  { service: "Rakuten", viewers: 0.4 }
	];

	// Import function
	import {scaleLinear, scaleBand} from 'd3-scale';
	import {axisBottom, axisLeft} from 'd3-axis';
	import {select} from 'd3-selection';

	// Define scales
	const xDomain = data.map((d) => d.service);
	const xScale = scaleBand()
    				.domain(xDomain)
    				.range([0, innerWidth])
					.padding(0.2);

	const yScale = scaleLinear()
    				.domain([0,3])
    				.range([innerHeight,10]);

	//define a function for the x-axis
	function drawxaxis(myhandle){
		const xaxis=axisBottom(xScale);
		const svg=select(myhandle).call(xaxis);
	}

	//define a function for the y-axis
	function drawyaxis(myhandle){
		const yaxis=axisLeft(yScale);
		const svg=select(myhandle).call(yaxis);
	}	
  </script>
  
  <!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
  <svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
	<g transform="translate({margin.left},{margin.top})">
		{#each data as d}
		  <rect
			x={xScale(d.service)}
			y={yScale(d.viewers)}
			height={innerHeight-yScale(d.viewers)}
			width={xScale.bandwidth()}
			fill="steelblue"
		  />
		{/each}
		<g use:drawyaxis> </g>
		<g use:drawxaxis transform="translate(0,{innerHeight})"> </g>
	  </g>
	  <text text-anchor="middle" font-size="70%" transform={"translate(30,150) rotate(-90)"}>Viewers (Million)</text>
  </svg>
  